moviepy
pytubefix
pytube
opencv-python
Pillow
ultralytics
llama-index
llama-index-embeddings-huggingface
llama-index-embeddings-mistralai
llama-index-vector-stores-pinecone
llama-index-llms-openai
llama-index-llms-text-generation-inference
llama-index-utils-workflow
pinecone-client
colorama
python-dotenv
requests
sentence-transformers
together